* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background: black;
    color: white;
}

header h1 {
    font-size: 36px;
    margin: 0px;
    text-align: center;
}

header h2 {
    font-size: 18px;
    margin: 0px;
    color: #888;
    font-style: italic;
}

footer ul,nav ul {
    list-style: none;
    padding: 0px;
    display: block;
    clear: right;
    background-color: #56D560;
    padding-left: 4px;
    height: 24px;
}

footer ul li,nav ul li {
    display: inline;
    padding: 0px 20px 5px 10px;
    height: 24px;
    border-right: 1px solid #ccc;
}

footer ul li a ,nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

footer ul li a:hover ,nav ul li a:hover {
    color: #fff;
}

article > header h1 {
    font-size: 20px;
    margin-left: 14px;
}

article > header h1 a {
    color: #993333;
}

article > header h1 img {
    vertical-align:middle;
}

article > section header h1 {
    font-size: 16px;
}

article p {
    clear: both;
}

footer {
    min-width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 24px;
}

/*Kunal*/

.grid{
    /*border: 1px solid red;    /*Grid*/
}

.colA {
    margin-top: 0.5em;
    width: 10em;
    text-align: center;
}

.colB:nth-child(2n+1){
    float: left;
    /*width: 5em;*/
    width: 50%;
    text-align: right;
}
.colB:nth-child(2n){
    width: 100%;
}
.colB:nth-child(2n) input {
    margin-left: 0.5em;
}
.colB:nth-child(2n) input[type=checkbox] {
    margin: 0;
    margin-left: 1em;
}

.colC:nth-child(n+1){
    float: left;
    /*width: 33%;*/
    text-align: right;
}
.colC:nth-child(2n){
    float: left;
    /*width: 33%;*/
    text-align: center;
}
.colC:nth-child(3n){
    /*width: 33%;*/
    float: right;
}

.colD:nth-child(n+1){
    float: left;
    width: 25%;
    height: 2em;
    text-align: right;
}
.colD:nth-child(2n){
    float: left;
    width: 25%;
    height: 2em;
    text-align: right;
}
.colD:nth-child(3n){
    width: 25%;
    height: 2em;
}
.colD:nth-child(4n){
    width: 25%;
    height: 2em;
}


.dialog{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 11em;
    height: 7em;
}

.sampleButton{
    border-radius: 100%;
    background: rgba(100,100,100,0.5);
    width: 2em;
    height: 2em;
}

#initDialog{
    color: white;
    background: rgba(255,255,255,0.2);
    padding-top: 2em;
    border-radius: 50% 0 50% 0;
    display: none;
}

#weight{
    width: 30px;
    border: 0;
    border-bottom: solid 1px white;
    background: transparent;
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
#weight:focus{
    outline: none;
}

#initOk{
    border-radius: 0 50% 0 50%;

}

#dateNav{
    /*position: absolute;*/
    margin: auto;
    left: 0;
    right: 0;
    height: 2em;
    width: 12em;
    /*border: 1px solid green;    /*Grid*/
}
#curNavDate{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.glassGrid{
    width: 5em !important;
    height: 5em !important;
}

#content{
    position: relative;
    width: 20em;
    height: 24em;
    display: none;
}
